body{
	/* background: rgb(212,38,23);
	background: linear-gradient(0deg, rgba(212,38,23,1) 0%, rgba(51,137,181,1) 100%); */
	/* background-image: url(../images/background.jpg);
	background-size: cover; */
	/* background: url('../images/background.jpg'), fixed center no-repeat;
    background-size: cover;
	color: #FFFFFF; */
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background.jpg);

    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

h1{
	color: white;
	margin: 20px;
}
h2,h3{
	font-style: oblique;
	color: white;
	margin: 20px;
}
.dropdown-item{
	color: darkorange;
}
nav{
	

	background: rgb(236,29,29);
background: linear-gradient(90deg, rgba(236,29,29,1) 0%, rgba(75,143,124,1) 29%, rgba(175,49,120,1) 66%, rgba(22,36,157,1) 100%);
}
.items img{
	height: 300px;
}
.all img {
	height: 250px;
}
 footer{
	 color: aliceblue;
	 width: 100%;
 }
 

 #dashboard div {
	 display: inline-block;
	 margin: 10px;
	 width: 200px;
	 height: 150px;
	 border: solid #ffffff ;
	 border-radius: 10px; 
	 padding: 20px;
	 background-color: #343a40;
 }
 

 
